# Proyek Analisis Data: E-Commerce Public Dataset
- Kelompok : 5
- Anggota  : </br>
10123085 - Muhamad Rizki Fadilah</br>
10123086 - Daffa Firizqi</br>
10123098 - Arya Manggala</br>
10123106 - Randy Fawwaz Aditya</br>
10123125 - Nabila Syifa Az Zahra</br>
10123126 - Taufik Alimansyah

## Menentukan Pertanyaan Bisnis

1. Apa produk yang paling banyak dibeli dan paling sedikit dibeli? - 10123085 - Muhamad Rizki Fadilah
2. Bagaimana tingkat kepuasan pembeli terhadap layanan? - 10123086 - Daffa Firizqi
3. Kota mana yang memiliki seller dan customer paling banyak? - 10123098 - Arya Manggala
4. Metode pembayaran mana yang digunakan untuk jumlah pembayaran terbesar? Berapa besarnya nilai pembayarannya? - 10123106 - Randy Fawwaz Aditya
5. Customer mana yang paling sering dan paling sedikit membeli? - 10123125 - Nabila Syifa Az Zahra
6. Berapa Angsuran Tertinggi dan Terendah? - 10123126 - Taufik Alimansyah

## Menyiapkan semua library yang dibuthkan

In [4]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import datetime as dt
import matplotlib.ticker as mtick

ModuleNotFoundError: No module named 'pandas'

## Data Wrangling
Tahapan ini merupakan tahapan untuk mempersiapkan data mentah menjadi bentuk yang lebih bersih, terstruktur, dan siap digunakan untuk proses analisis data. pada tahapan ini terdiri dari


1.   Gathering Data
2.   Assessing Data
3. Cleaning Data

### Gathering Data (Pengumpulan Data)
ini merupakan tahapan dalam pengumpulan data dari berbagai sumber, disini merupakan tahapan import dataset kedalam notebook

In [14]:
# membaca file customer_dataset.csv
customer_df = pd.read_csv('Dataset/customers_dataset.csv')
# membaca file geolocation_dataset.csv
geolocation_df = pd.read_csv('Dataset/geolocation_dataset.csv')
#membaca file order_items dataset.csv
order_items_df = pd.read_csv('Dataset/order_items_dataset.csv')
# membaca file order_payments_dataset.csv
order_payments_df = pd.read_csv('Dataset/order_payments_dataset.csv')
#membaca order_reviews_dataset.csv
order_reviews_df = pd.read_csv('Dataset/order_reviews_dataset.csv')
# Membaca file orders_dataset.csv
orders_df = pd.read_csv('Dataset/orders_dataset.csv')
#membaca file product_category_name_translation.csv
product_category_df = pd.read_csv('Dataset/product_category_name_translation.csv')
#membaca products_dataset.csv
products_df = pd.read_csv('Dataset/products_dataset.csv')
#membaca sellers_dataset.csv
sellers_df = pd.read_csv ('Dataset/sellers_dataset.csv')

### Assessing Data (Penilaian Data)
ini merupakan tahapan untuk melakukan evaluasi data untuk mengidentifikasi masalah kualitas dan struktur data yang dapat mempengaruhi analisis dari mulai missing value, pencilan, ataupun tipe data yang tidak sesuai

In [15]:
customer_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               99441 non-null  object
 1   customer_unique_id        99441 non-null  object
 2   customer_zip_code_prefix  99441 non-null  int64
 3   customer_city             99441 non-null  object
 4   customer_state            99441 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.8+ MB

In [16]:
customer_df.isna().sum()

customer_id                 0
customer_unique_id          0
customer_zip_code_prefix    0
customer_city               0
customer_state              0
dtype: int64

In [17]:
print('Jumlah duplikasi: ', customer_df.duplicated().sum())

Jumlah duplikasi:  0

In [18]:
customer_df.describe()

       customer_zip_code_prefix
count              99441.000000
mean               35137.474583
std                29797.938996
min                 1003.000000
25%                11347.000000
50%                24416.000000
75%                58900.000000
max                99990.000000

<h3>Menilai tabel geolocation</h3>

In [19]:
geolocation_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000163 entries, 0 to 1000162
Data columns (total 5 columns):
 #   Column                       Non-Null Count    Dtype
---  ------                       --------------    -----
 0   geolocation_zip_code_prefix  1000163 non-null  int64
 1   geolocation_lat              1000163 non-null  float64
 2   geolocation_lng              1000163 non-null  float64
 3   geolocation_city             1000163 non-null  object
 4   geolocation_state            1000163 non-null  object
dtypes: float64(2), int64(1), object(2)
memory usage: 38.2+ MB

In [20]:
geolocation_df.isna().sum()

geolocation_zip_code_prefix    0
geolocation_lat                0
geolocation_lng                0
geolocation_city               0
geolocation_state              0
dtype: int64

In [21]:
print('Jumlah duplikasi: ', geolocation_df.duplicated().sum())
geolocation_df.describe()

Jumlah duplikasi:  261831

       geolocation_zip_code_prefix  geolocation_lat  geolocation_lng
count                 1.000163e+06     1.000163e+06     1.000163e+06
mean                  3.657417e+04    -2.117615e+01    -4.639054e+01
std                   3.054934e+04     5.715866e+00     4.269748e+00
min                   1.001000e+03    -3.660537e+01    -1.014668e+02
25%                   1.107500e+04    -2.360355e+01    -4.857317e+01
50%                   2.653000e+04    -2.291938e+01    -4.663788e+01
75%                   6.350400e+04    -1.997962e+01    -4.376771e+01
max                   9.999000e+04     4.506593e+01     1.211054e+02

<h2>Menilai tabel order_items</h2>

In [22]:
order_items_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 7 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   order_id             112650 non-null  object
 1   order_item_id        112650 non-null  int64
 2   product_id           112650 non-null  object
 3   seller_id            112650 non-null  object
 4   shipping_limit_date  112650 non-null  object
 5   price                112650 non-null  float64
 6   freight_value        112650 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 6.0+ MB

In [23]:
order_items_df.isna().sum()

order_id               0
order_item_id          0
product_id             0
seller_id              0
shipping_limit_date    0
price                  0
freight_value          0
dtype: int64

In [24]:
print('Jumlah duplikasi: ', order_items_df.duplicated().sum())
order_items.describe()

Jumlah duplikasi:  0

NameError: name 'order_items' is not defined

<h3>Menilai tabel order payments</h3>

In [ ]:
order_payments_df.info()

In [ ]:
order_payments_df.isna().sum()

In [ ]:
print('Jumlah duplikasi: ', order_payments_df.duplicated().sum())
order_payments_df.describe()

<h3>Menilai tabel order review</h3>

In [ ]:
order_reviews_df.info()

In [ ]:
order_reviews_df.isna().sum()

In [ ]:
print('Jumlah duplikasi: ', order_reviews_df.duplicated().sum())
order_reviews_df.describe()

<h3>Menilai tabel</h3>

In [ ]:
orders_df.info()

In [ ]:
orders_df.isna().sum()

In [ ]:
print('Jumlah duplikasi: ', orders_df.duplicated().sum())
orders_df.describe()

<h3>Menilai tabel</h3>

In [ ]:
products_df.info()

In [ ]:
products_df.isna().sum()

In [ ]:
print('Jumlah duplikasi: ', products_df.duplicated().sum())
products_df.describe()

<h3>Menilai tabel</h3>

In [ ]:
product_category_df.info()

In [ ]:
product_category_df.isna().sum()

In [ ]:
print('Jumlah duplikasi: ', product_category_df.duplicated().sum())
product_category_df.describe()

<h3>Menilai tabel</h3>

In [ ]:
sellers_df.info()

In [ ]:
sellers_df.isna().sum()

In [ ]:
print('Jumlah duplikasi: ', sellers_df.duplicated().sum())
sellers_df.describe()

### Cleaning Data (Pembersihan Data)
ini merupakan tahapan penghapusan atau koreksi data yang bermasalah untuk memastikan data siap dianalisa

<h3>Menghapus data duplikasi pada geolofication</h3>

In [ ]:
geolocation_df.duplicated().sum()

In [ ]:
geolocation_df.drop_duplicates(inplace=True)

In [ ]:
geolocation_df.duplicated().sum()

<h3>Mengganti tipe data menjadi datetime pada tabel order_item, order_review, dan orders</h3>

In [ ]:
dt_order_item = ['shipping_limit_date']
for column in dt_order_item:
    order_items_df[column] = pd.to_datetime(order_items_df[column])

In [ ]:
order_items_df.info()

In [ ]:
dt_order_review = ['review_creation_date', 'review_answer_timestamp']
for column in dt_order_review:
    order_reviews_df[column] = pd.to_datetime(order_reviews_df[column])

In [ ]:
order_reviews_df.info()

In [ ]:
dt_orders = [
    'order_purchase_timestamp',
    'order_approved_at',
    'order_delivered_carrier_date',
    'order_delivered_customer_date',
    'order_estimated_delivery_date'
]

for column in dt_orders:
    orders_df[column] = pd.to_datetime(orders_df[column])

In [ ]:
orders_df.info()

<h3>Mengisi missing values pada tabel order_review_df, product_df, & orders_df</h3>

In [ ]:
order_reviews_df.isna().sum()

In [ ]:
order_reviews_df.fillna({
    'review_comment_title': "No Title",
    'review_comment_message': "No Message"
},inplace=True)

In [ ]:
products_df.isna().sum()

In [ ]:
orders_df.isna().sum()

In [ ]:
orders_df.ffill(inplace=True)

In [ ]:
orders_df.isna().sum()

## Exploratory Data Analysis (EDA)

<h3>Mengexplore tabel customers</h3>

In [ ]:
customer_df.describe(include='all')

In [ ]:
customer_df.customer_id.is_unique

Mengetahui dari kota mana pelanggan berasal yang paling dominan

In [ ]:
customer_df.groupby(by='customer_city')['customer_id'].nunique().sort_values(ascending=False)

Mengeksplore tabel order_payment

In [ ]:
order_payments_df

In [ ]:
order_payments_df.groupby(by='payment_type')['order_id'].size().sort_values(ascending=False)

In [ ]:
order_payments_df.sort_values(by='payment_value', ascending=False)

<h3>Explore All data</h3>

Menggabungkan tabel customer_df dan orders_df

In [ ]:
customer_orders_df = pd.merge(
    left=customer_df,
    right=orders_df,
    how='left',
    left_on='customer_id',
    right_on='customer_id'
)
customer_orders_df.head()

Menggabungkan tabel products_df dan product_category_name_df

In [ ]:
new_products_df = pd.merge(
    left=products_df,
    right=product_category_df,
    how='left',
    left_on='product_category_name',
    right_on='product_category_name'
)

In [ ]:
column = new_products_df.pop('product_category_name_english')
new_products_df.insert(2, column.name, column)
new_products_df.head()

Menggabungkan tabel customer_order_df dan order_payment_df

In [ ]:
merge1 = pd.merge(
    left=customer_orders_df,
    right=order_payments_df,
    how='left',
    left_on='order_id',
    right_on='order_id'
)
merge1.head()

Menggabungkan semua tabel

In [ ]:
merge2 = pd.merge(
    left=merge1,
    right=order_items_df,
    how='left',
    left_on='order_id',
    right_on='order_id'
)
merge2.head()

In [ ]:
merge3 = pd.merge(
    left=merge2,
    right=new_products_df,
    how='left',
    left_on='product_id',
    right_on='product_id'
)
merge3.head()

In [ ]:
merge4 = pd.merge(
    left=merge3,
    right=sellers_df,
    how='left',
    left_on='seller_id',
    right_on='seller_id'
)
merge4.head()

In [ ]:
all_df = pd.merge(
    left=merge4,
    right=order_reviews_df,
    how='left',
    left_on='order_id',
    right_on='order_id'
)
all_df.head()

In [ ]:
all_df.describe()

Menampilkan total laba berdasarkan negara bagian untuk setiap kategori produk.

In [ ]:
all_df.groupby(by=['customer_state', 'product_category_name_english']).agg({
    'price' : 'sum',
}).sort_values(by='price', ascending=False)

Melihat tingkat jumlah kepuasan pembeli

In [ ]:
all_df.groupby(by=['review_score'])['customer_id'].size().reset_index().sort_values(by='review_score', ascending=False)

#### RFM

In [ ]:
today=dt.datetime(2018,10,20)

In [ ]:
all_df['order_purchase_timestamp'] = pd.to_datetime(all_df['order_purchase_timestamp'])

#Dikelompokkan dari 'customer_id'
recency = (today - all_df.groupby('customer_id')['order_purchase_timestamp'].max()).dt.days
frequency = all_df.groupby('customer_id')['order_id'].count()
monetary = all_df.groupby('customer_id')['price'].sum()

#Membuat dataframe baru
rfm_df = pd.DataFrame({
    'customer_id': recency.index,
    'Recency': recency.values,
    'Frequency': frequency.values,
    'Monetary': monetary.values
})

In [ ]:
column_list = ['customer_id','Recency','Frequency','Monetary']
rfm_df.columns = column_list

Customer dengan pengeluaran terbesar

In [ ]:
rfm_df.sort_values(by='Monetary', ascending=False)

Customer dengan terakhir kali belanja

In [ ]:
rfm_df.sort_values(by='Recency', ascending=False)

Customer dengan jumlah belanja terbanyak

In [ ]:
rfm_df.sort_values(by='Frequency', ascending=False)

In [ ]:
all_df.to_csv('all_data.csv', index=False)

## Visualization & Explanatory Analysis

### Pertanyaan 1:

Apa produk yang paling banyak dibeli dan paling sedikit dibeli?

In [ ]:
product_counts = all_df.groupby('product_category_name_english')['product_id'].count().reset_index()
sorted_df = product_counts.sort_values(by='product_id', ascending=False)
sorted_df

In [ ]:
fig, ax = plt.subplots(nrows=1, ncols=2, figsize=(24, 6))

colors = ["#72BCD4", "#D3D3D3", "#D3D3D3", "#D3D3D3", "#D3D3D3"]

sns.barplot(x="product_id", y="product_category_name_english", hue="product_category_name_english", data=sorted_df.head(5), palette=colors, ax=ax[0])
ax[0].set_ylabel(None)
ax[0].set_xlabel(None)
ax[0].set_title("Produk yang paling banyak dibeli", loc="center", fontsize=19)
ax[0].tick_params(axis='y', labelsize=15)

sns.barplot(x="product_id", y="product_category_name_english", hue="product_category_name_english", data=sorted_df.sort_values(by="product_id", ascending=True).head(5), palette=colors, ax=ax[1])
ax[1].set_ylabel(None)
ax[1].set_xlabel(None)
ax[1].invert_xaxis()
ax[1].yaxis.set_label_position("right")
ax[1].yaxis.tick_right()
ax[1].set_title("Produk yang paling sedikit dibeli", loc="center", fontsize=19)
ax[1].tick_params(axis='y', labelsize=15)

plt.suptitle("Produk yang paling banyak dan sedikit dibeli", fontsize=28)
plt.show()

### Pertanyaan 2:

Bagaimana tingkat kepuasan pembeli terhadap layanan?

In [ ]:
rating_service = all_df['review_score'].value_counts().sort_values(ascending=False)
max_score = rating_service.idxmax()

colors = ["#72BCD4" if score == max_score else "#D3D3D3" for score in rating_service.index]

sns.set(style="darkgrid")

plt.figure(figsize=(10, 5))
sns.barplot(x=rating_service.index,
            y=rating_service.values,
            order=rating_service.index
            )

plt.title("Penilaian Customer terhadap Pelayanan", fontsize=15)
plt.xlabel("Rating")
plt.ylabel("Customer")
plt.xticks(fontsize=12)
plt.show()

### Pertanyaan 3:

Kota mana yang memiliki seller dan customer paling banyak?

In [ ]:
city_seller = all_df.seller_city.value_counts().sort_values(ascending=False).rename_axis('City').reset_index(name='Number of Sellers')
city_seller

In [ ]:
top_5_cities = city_seller.head(5)
plt.figure(figsize=(10, 6))
colors = ["#72BCD4" if city == top_5_cities['City'].iloc[0] else "#D3D3D3" for city in top_5_cities['City']]
sns.barplot(x="Number of Sellers", y="City", data=top_5_cities, hue=top_5_cities['City'], palette=colors, legend=False)
plt.xlabel('Jumlah Penjual')
plt.ylabel('Kota')
plt.title('5 Kota dengan Penjual Terbanyak')

plt.show()

In [ ]:
city_customer = all_df.customer_city.value_counts().sort_values(ascending=False).rename_axis('City').reset_index(name='Number of Customers')
city_customer

In [ ]:
top_5_cities_customer = city_customer.head(5)
plt.figure(figsize=(10, 6))
colors = ["#72BCD4" if city == top_5_cities_customer['City'].iloc[0] else "#D3D3D3" for city in top_5_cities_customer['City']]
sns.barplot(x="Number of Customers", y="City", data=top_5_cities_customer, hue=top_5_cities_customer['City'], palette=colors, legend=False)
plt.xlabel('Jumlah Customer')
plt.ylabel('Kota')
plt.title('5 Kota dengan Customer Terbanyak')

plt.show()

### Pertanyaan 4:

Metode pembayaran mana yang digunakan untuk jumlah pembayaran terbesar? Berapa besarnya nilai pembayarannya?

In [ ]:
total_payment_type = all_df.groupby('payment_type')['payment_value'].sum().reset_index()
total_payment_type

In [ ]:
# Konversi nilai ke format "Jt"
total_payment_type['payment_value_million'] = total_payment_type['payment_value'] / 1e6
plt.figure(figsize=(10, 6))
sns.barplot(x="payment_type", y="payment_value_million", data=total_payment_type)
plt.xlabel('Tipe Pembayaran')
plt.ylabel('Total Pembayaran (Juta)')
plt.title('Total Pembayaran berdasarkan Tipe')

# Menambahkan format label sumbu y
fmt = '{x:,.0f} Jt'
tick = mtick.StrMethodFormatter(fmt)
plt.gca().yaxis.set_major_formatter(tick)
plt.show()

### Pertanyaan 5:

Customer mana yang paling sering dan paling sedikit membeli?

In [ ]:
rfm_df.sort_values(by='Recency', ascending=False)

### Pertanyaan 6:

Berapa Angsuran Tertinggi dan Terendah?

In [ ]:
order_payments_df.sort_values(by='payment_installments', ascending=False)

## Conclusion

- Conclution pertanyaan 1: <br>
Apa produk yang paling banyak dibeli dan paling sedikit dibeli?
Berdasarkan data yang tertera produk yang paling banyak dibeli adalah bed_bath_table dan produk yang paling sedikit dibeli adalah security_and_service

- Conclution Pertanyaan 2 : <br>
Bagaimana tingkat kepuasan pembeli terhadap pelayanan?
Berdasarkan data yang tertera lebih dari 60.000 pembeli yang merasa puas terhadap pelayanan yang diberikan

- Conclution Pertanyaan 3: <br>
Kota mana yang memiliki seller paling banyak?
Kota San Paulo dengan seller yang berjumlah 18.875 orang

- Conclution Pertanyaan 4: <br>
Metode pembayaran mana yang digunakan untuk jumlah pembayaran terbesar? Berapa besarnya nilai pembayarannya?
Berdasarkan data yang tertera metode pembayaran yang digunakan untuk jumlah pembayaran terbesar adalah credit card dengan nomina yang hampir mencapai 16 juta

- Conclution Pertanyaan 5: <br>
Customer mana yang paling sering dan paling sedikit membeli?
Berdasarkan data di atas costumer yang paling sedikit membeli ada 2 dan yang paling sering ada 775